* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width:auto; 
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f4;
    color: #333;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3498db;
    padding: 15px 20px;
    color: black;
}
header h1{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.logo img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}    
nav a {
    margin-left: 10px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    flex-direction: bottom;   
    cursor: pointer;
}
nav a:hover{
    transform: scale(1.05);
}
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient( to right, #1e90ff, #00bfff);
color: white;
margin-top: 50px;
}
.hero .btn {
     display: inline-block;
     margin-top: 20px;
     padding: 12px 25px;
     background: white;
     color: #1e90ff;
     border-radius: 5px;
     text-decoration: none;
     font-weight: bold;
     transition: 0.3s ease;
}
.hero .btn:hover{
    background: #f0f0f0;
}
section {
    padding: 40px 20px;
    text-align: center;
}
.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    background: #1e90ff;
}
#about h2{
     padding: 12px;
     margin-top: 20px;
     background: #1e90ff;
}
#about p{
    color: solid black;
    background: #00bfff;
    font-weight: bold
}
.course-card{
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #00bfff;
    transition: transform 0.3s;
}
.course-card:hover{
    transform: scale(1.05)
}
footer {
    background: #1e90ff;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
@media (max-width: 768px){
    .course-container{
        flex-direction: column;
        align-items: center;
    }
}
#study-material{
    background-color: rgb(173, 173, 207);
    color: #333;
    text-align: center;
    padding: 10px;
}
#study-material button{
    background-color: #c0dee8;
    color: #333;
    padding: 1px;
    gap: 2px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
}
#study-material h4{
     font-weight: bolder;
     margin-bottom: 10px;
     
}
#study-material button:hover{
    transform: scale(1.05)
}
#contact{
    box-sizing: border-box;
    background-color: #00bfff;
    margin-bottom: 30px;
}
#contact h2{
    margin-bottom: 15px;
    text-decoration: underline;
}
#contact p{
    font-size: 20px;
    text-decoration: solid;
    color: solid black;
}

    
